.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.79)), url('../img/dance_club_banner.png');
    background-repeat: no-repeat;
}

.icon-space {
    margin-bottom: 5em;
}

.bg-img {
    /*background-image: url('../img/bg-ground.png');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #4F854B;
}