body{
  font-family: "Open Sans", sans-serif;  
  font-size: 1.2em;
}

.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.79)), url('../img/dance_club_banner.png');
    background-repeat: no-repeat;
}

.icon-space {
    margin-bottom: 3em;
}

.bg-img {
    /*background-image: url('../img/bg-ground.png');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #4F854B;
}

.fa-fbblue {
    color: #496799;
}

.copyright {
  font-size: small;
}

.facebook {
  text-align:center;
}
